<launch>

  <include file="$(find gazebo_worlds_oru)/launch/robot_lab_paused.launch"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find cititruck_description)/urdf/cititruck.xacro'" />

  <group ns="robot1">
    <param name="tf_prefix" value="robot1" />
    <include file="$(find cititruck_gazebo)/launch/cititruck.launch">
      <arg name="robot_pose_x" value="3.9498004999426"/> 
      <arg name="robot_pose_y" value="3.17460725931749"/>
      <arg name="robot_pose_yaw" default="0.393849581772038"/>
      <arg name="robot_name" value="robot1" />
    </include>
  </group>

  <group ns="robot2">
    <param name="tf_prefix" value="robot2" />
    <include file="$(find cititruck_gazebo)/launch/cititruck.launch">
      <arg name="robot_pose_x" value="14.9853838901572"/> 
      <arg name="robot_pose_y" value="5.53902255103962"/>
      <arg name="robot_pose_yaw" default="-3.0927826388451"/>
      <arg name="robot_name" value="robot2" />
    </include>
  </group>

  <group ns="robot3">
    <param name="tf_prefix" value="robot3" />
    <include file="$(find cititruck_gazebo)/launch/cititruck.launch">
      <arg name="robot_pose_x" value="3.93045120985908"/> 
      <arg name="robot_pose_y" value="7.98490086373244"/>
      <arg name="robot_pose_yaw" default="-0.380218925927078"/>
      <arg name="robot_name" value="robot3" />
    </include>
  </group>

  <!-- group ns="robot4" -->
    <!-- param name="tf_prefix" value="robot4" /-->
    <!--include file="$(find cititruck_gazebo)/launch/cititruck.launch" -->
      <!--arg name="robot_pose_x" value="5.93045120985908"/--> 
      <!--arg name="robot_pose_y" value="7.98490086373244"/-->
      <!-- arg name="robot_pose_yaw" default="-0.380218925927078"/-->
      <!-- arg name="robot_name" value="robot4" /-->
    <!-- /include-->
  <!-- /group-->


</launch>
