<launch>

  <include file="$(find gazebo_worlds_oru)/launch/robot_lab_paused.launch"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find cititruck_description)/urdf/cititruck.xacro'" />

  <group ns="robot1">
    <param name="tf_prefix" value="robot1" />
    <include file="$(find cititruck_gazebo)/launch/cititruck.launch">
      <arg name="robot_pose_x" value="4.99136932041072"/> 
      <arg name="robot_pose_y" value="5.11684525695989"/>
      <arg name="robot_pose_yaw" default="-0.0348926644679449"/>
      <arg name="robot_name" value="robot1" />
    </include>
  </group>

  <group ns="robot2">
    <param name="tf_prefix" value="robot2" />
    <include file="$(find cititruck_gazebo)/launch/cititruck.launch">
      <arg name="robot_pose_x" value="14.982201118272"/> 
      <arg name="robot_pose_y" value="5.14987978318707"/>
      <arg name="robot_pose_yaw" default="-3.13564986942794"/>
      <arg name="robot_name" value="robot2" />
    </include>
  </group>

  <!-- group ns="robot4" -->
    <!-- param name="tf_prefix" value="robot4" /-->
    <!--include file="$(find cititruck_gazebo)/launch/cititruck.launch" -->
      <!--arg name="robot_pose_x" value="5.93045120985908"/--> 
      <!--arg name="robot_pose_y" value="7.98490086373244"/-->
      <!-- arg name="robot_pose_yaw" default="-0.380218925927078"/-->
      <!-- arg name="robot_name" value="robot4" /-->
    <!-- /include-->
  <!-- /group-->


</launch>
